extends layout
block head
  title 400 Error
  script(src='js/main.js')
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/main.dark.css')

block content
  h1 400 Error
